body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#btn {
  font-size: 24px;
  cursor: pointer;
  position: fixed;
  top: 44%;
  left: 44.5%;
  z-index: 1000;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVCMB55_4qe2Bpx3hS4KWhpkI_4n760SdQ1g&sS");
  height: 200px;
  width: 220px;
  
}

#ruta {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  visibility: hidden;
}

#ruta.synlig {
  visibility: visible;
}

#player {
  width: 100%;
  height: 100%;
}
#player iframe {
  width: 100%;
  height: 100%;
}
