/* gör rutan till fullscreen-overlay */
#ruta {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  display: none; /* styrs via klasserna */
  z-index: 9999; /* ovanpå allt */
}

#ruta.synlig {
  display: flex;
  justify-content: center;
  align-items: center;
}

#player {
  width: 100%;
  height: 100%;
}
#player iframe {
  width: 100%;
  height: 100%;
}
